.products-list-header {
  background: url("@{images-url}/headers/products.jpg");
  height: 94px;
  margin: 0;
  padding: 50px 0 0 0;
  position: relative;
  h1 {
    margin: 0 auto;
    max-width: @content-max-width;
  }
  span {
    display: inline-block;
    background: @color-white;
    .opacity(0.8);
    padding: 20px;
    min-width: 300px;
    text-transform: uppercase;
    color: @color-black;
    font-family: @font-family-roboto-black;
    font-size: 24px;
  }
}

.breadcrumbs {
  padding: 20px 0;
  a, span {
    display: inline-block;
    color: @color-gray;
    text-decoration: none;
  }
  a:last-child {
    color: @color-green;
  }
  a:hover{
    text-decoration: underline;
  }
}

.products-list {
  display: table;
  vertical-align: top;
  width: 100%;
  aside {
    display: table-cell;
    width: 260px;
    vertical-align: top;
  }
  section {
    display: table-cell;
  }
  .category-select {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid @color-border-gray;
    .rounded(5px);
    position: relative;
    &:hover {
      background: @color-green;
      color: @color-white;
      border-color: @color-green;
      span:after {
        border-top-color: @color-white;
      }
      ul {
        display: block;
      }
    }
    span {
      font-family: @font-family-default-medium;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
      display: inline-block;
      max-width: 150px;
      &:after {
        content: '';
        .icon-arrow-down(6px, @color-gray);
        position: absolute;
        right: 30px;
        top: 50%;
      }
    }
    ul {
      &:before {
        content: '';
        .icon-arrow-up(7px, @color-category-dropdown-bg);
        position: absolute;
        top: -7px;
        left: 50%;
        margin-left: -3.5px;
      }
      display: none;
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      background: @color-category-dropdown-bg;
      .rounded(5px);
      li {
        list-style: none;
        border-bottom: 1px solid @color-category-dropdown-border;
        &:last-child {
          border: none;
        }
        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          text-transform: uppercase;
          color: @color-dark-gray;
          font-size: 14px;
          line-height: 16px;
          &:hover {
            color: @color-dark;
          }
        }
      }
    }
  }

  nav {
    li {
      position: relative;
      list-style: none;
      a {
        display: block;
        padding: 20px;
        color: @color-gray;
        text-decoration: none;
        &:hover {
          color: @color-green;
        }
      }
      span {
        position: absolute;
        top: 20px;
        right: 30px;
        display: inline-block;
        background: @color-green;
        color: @color-white;
        .rounded(3px);
        font-size: 12px;
        min-width: 15px;
        padding: 2px;
        text-align: center;
      }
      &:hover, &.active {
        background: @color-products-nav-bg-hover;
        ul {
          display: block;
        }
      }
      ul {
        display: none;
        li {
          background: @color-products-dubnav-bg;
          border-bottom: 1px solid @color-white;
          &:hover {
            background: @color-products-dubnav-bg-hover;
          }
          a {
            text-transform: uppercase;
            padding: 10px 0 10px 50px;
            color: @color-green;
            &:hover {
              color: @color-white;
            }
          }
        }
      }
    }
  }

  .reviews-block {
    padding: 20px 0;
    h2 {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 24px;
      line-height: 26px;
    }
    .review-item {
      .rounded(10px);
      .box-shadow(0 2px 0 rgba(0,0,0,0.2));
      position: relative;
      min-height: 360px;
      padding: 20px;
      margin-top: 20px;
      font-family: @font-family-myriadpro-regular;
      font-size: 16px;
      line-height: 18px;
      color: @color-white;
      background: @color-green url("@{images-url}/review_bg.png") no-repeat;
      background-size: 100% auto;
      p {
        margin: 0 0 20px 0;
      }
      .icon-apostrophes {
        display: block;
        margin: 0 auto 20px;
      }
      .author {
        text-align: right;
        text-transform: uppercase;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }

  .products-articles {
    padding: 0 0 0 20px;
    article {
      display: inline-block;
      width: 42%;
      .rounded(10px);
      .box-shadow(0 2px 0 rgba(0, 0, 0, 0.1));
      background: @color-white;
      padding: 30px 30px 10px 30px;
      margin: 0 20px 20px 0;
      &:nth-child(2n) {
        margin-right: 0;
      }
      h1 {
        color: @color-green;
        font-family: @font-family-roboto-black;
        margin: 10px 0 40px 0;
        font-size: 24px;
        font-weight: normal;
      }
      img {
        float: left;
        margin: 0 20px 20px 0;
      }
      ul {
        li {
          list-style: none;
          position: relative;
          padding: 0 0 0 125px;
          margin-bottom: 25px;
          &:before {
            position: absolute;
            left: 110px;
            top: 3px;
            content: "";
            .square(8px);
            background: @color-green;
          }
        }
      }
    }
  }

  .pagination {
    text-align: right;
    padding: 0 0 20px 0;

    .rounded-item() {
      .rounded(25px);
      display: inline-block;
      padding: 6px 9px 5px;
      border: 10px solid transparent;
      background-clip: padding-box !important;
    }

    a {
      .rounded-item();
      position: relative;
      color: @color-gray;
      text-decoration: none;
      text-transform: lowercase;
      &:first-child, &:last-child, &:hover, &.active {
        background: @color-green;
        color: @color-white;
        font-family: @font-family-default-medium;
      }
      &:first-child, &:last-child {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .sub-pages {
      .rounded-item();
      position: relative;
      top: 18px;
      background: @color-pagination-sub-light;
      .size(12px, 18px);
      cursor: pointer;
      span {
        display: inline-block;
        position: absolute;
        left: 3px;
        top: -3px;
        font-size: 36px;
        letter-spacing: -3px;
        color: @color-light-green;
      }
      &:hover span {
        color: @color-white;
      }
      ul {
        display: none;
        text-align: center;
        position: absolute;
        top: 37px;
        left: -25px;
        z-index: 101;
        li {
          list-style: none;
          &:first-child {
            position: relative;
            &:before {
              .icon-arrow-up(6px, @color-pagination-sub-dark);
              content: "";
              position: absolute;
              top: -6px;
              left: 50%;
              margin-left: -6px;
            }
            &:hover:before {
              border-bottom-color: @color-pagination-sub-light;
            }
            a {
              .rounded(6px 6px 0 0);
            }
          }
          &:last-child a {
            .rounded(0 0 6px 6px);
          }
          a {
            .rounded(0);
            border: none;
            background: @color-pagination-sub-dark;
            color: @color-white;
            padding: 10px;
            width: 60px;
            &:hover {
              text-decoration: none;
              background: @color-pagination-sub-light;
            }
          }
        }
      }
    }
  }
}