@import "colors";
@import "fonts";

* {
    margin: 0;
    padding: 0;
}

a {
  outline: none;
}

html, body {
    .default-font();
    background : @color-light-green;
    height: 100%;
}

#main-wrapper {
  background : @color-light-green;
  height: 100%;
}

body > #main-wrapper {
    height: auto;
    min-height: 100%;
}

#content-block {
  margin: 0 auto;
  padding-top: 60px;
  max-width: @content-max-width;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  #content-block {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1382px) {

}