.icon(){
  background: url("@{images-url}/icons.png") no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.icon-big-phone {
  .icon();
  height: 50px;
  width: 50px;
  background-position: 0 -70px;
}

.icon-middle-phone {
  .icon();
  height: 41px;
  width: 41px;
  background-position: -2px -64px;
  background-size: 446px;
  &:hover {
    background-position: -52px -64px;
  }
}

.icon-small-phone {
  .icon();
  height: 22px;
  width: 22px;
  background-position: -1px -34px;
  background-size: 238px;
}

.icon-middle-glass {
  .icon();
  height: 41px;
  width: 41px;
  background-position: -4px -123px;
  background-size: 450px;
  &:hover {
    background-position: -55px -122px;
  }
}

.icon-small-glass {
  .icon();
  height: 22px;
  width: 22px;
  background-position: -2px -66px;
  background-size: 240px;
}

.icon-mobile-nav {
  display: inline-block;
  height: 41px;
  width: 41px;
  &:hover span {
    background: @color-dark-gray;
  }
  span {
    background: @color-gray;
    height: 5px;
    display: block;
    margin-top: 6px;
    margin-bottom: 8px;
  }
}