.icon(){
  background: url("@{images-url}/icons.png") no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.icon-phone-big {
  .icon();
  height: 50px;
  width: 50px;
  background-position: 0 -70px;
}

.icon-small-glass {
  .icon();
  height: 22px;
  width: 22px;
  background-position: -2px -66px;
  background-size: 240px;
}